* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.split-right {
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 139px;
    text-align: justify;
}

.split-left {
    width: 30%;
    background-color: #36D20C;
    display: flex;
    align-items: center;
    text-align: justify;
    padding-left: 35px;
    padding-right: 155px;
}

#about-txt {
    color: #808080;
    line-height: 1.8;
}

#bio-txt {
    line-height: 1.8;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main {
    position: relative;
    height: 100vh;
}

.main-inner {
    display: flex;
    height: 100vh;
}

.image {
    position: absolute;
    top: 36%;
    left: 21%;
}

.btn {
    margin-top: 40px;
}

.btn button {
    background-color: #fff;
    padding: 0.7vw 2vw;
    border-radius: 1px;
    font-size: 1.1vw;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #808080;
}